.container1{
   
    width: 85%;
    margin: auto;
}
.container2{
  
    margin: auto;
    width: 40%;
    align-items: center;
}

.table-responsive{
   
    width: 60%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.thead-dark{
   
    width: 100%;
    background-color: blue;
    margin: auto;

}
/* .thead-dark  tr {
    border: 1px solid red;
    width: 220%;
    display: flex;
    justify-content: space-around;
    margin: auto;
    background-color: brown;
   
    
} */


 
.bold-1{
    
    font-size: 20px;
    color: blue;
}
h2{
    margin: auto;
}

